In [1]:
import pandas as pd
import numpy as np
import re
import os

In [2]:
carpeta_path = r'C:\Users\camil\Documentos\GitHub\El_Algorirmo_Es_Correcto\Data'
archivo_train = r'train_data.csv'
path_train = os.path.join(carpeta_path, archivo_train)

In [4]:
train = pd.read_csv(path_train, dtype=str)

In [5]:
train.info()
train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244488 entries, 0 to 244487
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     244488 non-null  object
 1   area                   244110 non-null  object
 2   ascensor               87672 non-null   object
 3   balcon                 60181 non-null   object
 4   banos                  243049 non-null  object
 5   banoservicio           12231 non-null   object
 6   conjuntocerrado        244488 non-null  object
 7   cuartoservicio         55492 non-null   object
 8   deposito               107413 non-null  object
 9   estrato                236806 non-null  object
 10  estudio                76686 non-null   object
 11  garajes                212861 non-null  object
 12  gimnasio               72755 non-null   object
 13  habitaciones           243731 non-null  object
 14  halldealcobas          64640 non-null   object
 15  parqueaderovisitantes  59910 non-null   object
 16  piscina                17575 non-null   object
 17  piso                   125100 non-null  object
 18  porteria               18830 non-null   object
 19  remodelado             23126 non-null   object
 20  saloncomunal           108943 non-null  object
 21  terraza                42707 non-null   object
 22  tiempodeconstruido     183910 non-null  object
 23  vigilancia             143094 non-null  object
 24  vista                  102132 non-null  object
 25  zonalavanderia         148130 non-null  object
 26  valoradministracion    215893 non-null  object
 27  valorventa             244488 non-null  object
 28  tipoinmueble           244488 non-null  object
 29  tiponegocio            243718 non-null  object
 30  latitud                244488 non-null  object
 31  longitud               244488 non-null  object
dtypes: object(32)
memory usage: 59.7+ MB

,id,area,ascensor,balcon,banos,banoservicio,conjuntocerrado,cuartoservicio,deposito,estrato,...,tiempodeconstruido,vigilancia,vista,zonalavanderia,valoradministracion,valorventa,tipoinmueble,tiponegocio,latitud,longitud
0,1205404,55.0,NaN,NaN,NaN,NaN,0,NaN,1.0,3.0,...,NaN,NaN,NaN,1.0,50000.0,169950000.0,Casa,Venta,4.5609647,-74.0948886
1,1204371,43.0,NaN,NaN,NaN,NaN,0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,90000000.0,Casa,Venta,4.5769596672,-74.1000825807
2,1125353,360.0,NaN,NaN,NaN,NaN,0,NaN,0.0,3.0,...,NaN,NaN,NaN,NaN,0.0,1100000000.0,Casa,Venta,4.575,-74.101
3,1125506,60.0,NaN,NaN,NaN,1.0,0,1.0,0.0,3.0,...,NaN,NaN,NaN,NaN,0.0,260000000.0,Apartamento,Venta,4.5759243,-74.1080387
4,1204569,72.0,NaN,NaN,NaN,NaN,0,NaN,0.0,2.0,...,NaN,NaN,NaN,1.0,0.0,125000000.0,Casa,Venta,4.559,-74.097

In [7]:
for columna in train.columns:
    if columna not in ['id', 'valoradministracion', 'valorventa', 'latitud', 'longitud']:
        print("{}: ".format(columna),train[columna].unique())

area:  ['55.0' '43.0' '360.0' ... '31.74' '44.32' '62.47']
ascensor:  [nan '1.0']
balcon:  [nan '1.0']
banos:  [nan '0.0' '2.0' '3.0' '4.0' '5.0' '6.0' '7.0' '8.0' '9.0' '10.0' '11.0'
 '12.0' '13.0' '14.0' '15.0' '16.0' '17.0' '18.0' '19.0' '20.0' '21.0'
 '23.0' '24.0' '25.0' '26.0' '27.0' '44.0' '1.0' '35.0' '253.0' '71.0'
 '40.0' '33.0']
banoservicio:  [nan '1.0']
conjuntocerrado:  ['0' '1']
cuartoservicio:  [nan '1.0']
deposito:  ['1.0' '0.0' nan]
estrato:  ['3.0' nan '2.0' '4.0' '5.0' '6.0' '1.0' '7.0' '0.0']
estudio:  [nan '1.0' '0.0']
garajes:  [nan '1.0' '2.0' '4.0' '3.0' '0.0' '5.0' '6.0' '10.0' '7.0' '9.0' '8.0']
gimnasio:  ['0.0' '1.0' nan]
habitaciones:  ['2.0' '3.0' nan '5.0' '1.0' '4.0' '14.0' '10.0' '0.0' '17.0' '43.0' '6.0'
 '11.0' '9.0' '8.0' '15.0' '12.0' '7.0' '18.0' '21.0' '30.0' '40.0' '23.0'
 '20.0' '34.0' '13.0' '33.0' '19.0' '16.0' '85.0' '22.0' '24.0' '28.0'
 '25.0' '35.0' '32.0' '27.0' '26.0' '52.0' '253.0' '88.0']
halldealcobas:  [nan '1.0']
parqueaderovisitantes:  [nan '1.0' '0.0']
piscina:  [nan '1.0']
piso:  [nan '1.0' '2.0' '4.0' '3.0' '6.0' '9.0' '5.0' '7.0' '14.0' '13.0' '10.0'
 '11.0' '8.0' '12.0' '16.0' '15.0' '23.0' '20.0' '17.0' '21.0' '18.0'
 '27.0' '19.0' '26.0' '28.0' '24.0' '22.0' '25.0' '30.0' '29.0']
porteria:  [nan '1.0']
remodelado:  [nan '1.0']
saloncomunal:  [nan '1.0']
terraza:  [nan '1.0']
tiempodeconstruido:  [nan 'Entre 10 y 20 aÃ±os' 'Entre 0 y 5 aÃ±os' 'Entre 5 y 10 aÃ±os'
 'MÃ¡s de 20 aÃ±os' '1 a 8 aÃ±os' '16 a 30 aÃ±os' '9 a 15 aÃ±os'
 'MÃ¡s de 30 aÃ±os' 'Menos de 1 aÃ±o' 'Remodelado' 'ntre 0 y 5 aÃ±os']
vigilancia:  [nan '0.0' '1.0']
vista:  [nan 'Exterior' 'Interior']
zonalavanderia:  ['1.0' nan]
tipoinmueble:  ['Casa' 'Apartamento']
tiponegocio:  ['Venta' 'Venta y arriendo' 'Arriendo' 'Venta Y Arriendo' nan]